<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Horta nas Onças"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity6"
            android:exported="false" />
        <activity
            android:name=".ActivityProxColheita"
            android:exported="false" />
        <activity
            android:name=".Detalhes"
            android:exported="false" />
        <activity
            android:name=".ActivityListaHorta"
            android:exported="false" />
        <activity
            android:name=".ActivityAdicionar"
            android:exported="false"
            android:parentActivityName=".ActivityInicial" />
        <activity
            android:name=".ActivityLayoutLista"
            android:exported="false"
            android:parentActivityName=".ActivityInicial" />
        <activity
            android:name=".ActivityInicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>